#cardPaymentBrick_container-modalbox {
    display: none;
    // display: flex;  //*** sólo para desarrollo ***
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
}

#cardPaymentBrick_container {
    position: fixed;
    top: 80px;
    box-shadow: var(--box-shadow);
}

.main-header__pay-confirmed-modalbox {
    display: none;
    // display: flex;  //*** sólo para desarrollo ***
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    border: 5px solid green
}

.pay-confirmed {
    background-color: green;
    color: hsl(203, 92%, 95%);
    position:fixed;
    top: 40%;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.show {
    animation-name: show;
    animation-duration: .7s;

    @keyframes show {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}

