<section class="section-contact">
    <header class="section-contact__header">
        <h1>Contacto</h1>
        <p>Envíenos su consulta</p>
    </header>

    <div class="contact-container">
        <form id="contact-form" action="" autocomplete="off">
            <div class="field">
                <label for="firstName">Nombre<sup class="required">*</sup></label>
                <input type="text" id="firstName" name="firstName" autofocus>
            </div>
    
            <div class="field">
                <label for="eMail">Email<sup class="required">*</sup></label>
                <input type="text" id="eMail" name="eMail">
            </div>
    
            <div class="field">
                <label for="comment">Comentarios<sup class="required">*</sup></label>
                <textarea id="comment" name="comment" style="height:200px"></textarea>
            </div>
    
            <p><sup class="required">*</sup>campos obligatorios</p>
            <input class="btn-submit btn-validator" id="btn-contact" type="submit" value="Enviar">
        </form>
    </div>
</section>
