<section class="section-cards">
    <header class="section-cards__header">
        <h1>Productos</h1>
        <p>Nuestro catálogo de productos</p>
        <!-- <div class="progressBar"></div> -->
    </header>
    <!-- Cards -->
    <div class="cards-container">
<!--  
        <div class="card">
            <a href="" class="card__link-add">Agregar al carrito</a>
            <article class="card__article">
                <div class="card__image-container">
                    <img class="card__image" src="img/j-muneca.jpg" alt="Muñeca llorona">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Muñeca llorona</h2>
                    <div class="card__description">
                        <p>Muñeca llorona vestida de unicornio muy ideal para niñas</p>
                    </div>
                    <div class="card__price">
                        <p>$<span class="card__price__number">1799</span></p>
                    </div>
                </div>
            </article>
        </div>
-->
    </div>
    <!-- Cards Footer-->
    <footer class="section-cards__footer">
        <h2 id="offert">Ofertas imperdibles !!</h2>
        <div class="section-cards__footer-container">
            
            <!-- Carrousel -->
            <div class="carrousel">
                <button class="carrousel__arrow" id="slide-arrow-prev">&#10094;</button>
                <ul class="carrousel__container" id="slides-container">
                    <!-- ======================================Carrousel item 1==================================== -->
                    <li class="carrousel__slide">
                        <div id="carrousel__item-1" class="carrousel__item">
<!--  
                            <div class="carrousel__item-n">
                                <a href="">
                                    <div class="section-cards__footer-container-article-image">
                                        <img src="img/o-dinosaurio.jpg" alt="Dinosaurio">
                                    </div>
                                    <div class="section-cards__footer-container-article-text">
                                        <p class="">Dinosaurio</p>
                                        <p>$4499</p>
                                    </div>
                                </a>
                            </div>
-->
                        </div>
                    </li>
                    <!-- ======================================Carrousel item 2==================================== -->
                    <li class="carrousel__slide">
                        <div id="carrousel__item-2" class="carrousel__item">

                        </div>
                    </li>
                    <!-- ======================================Carrousel item 3==================================== -->
                    <li class="carrousel__slide">
                        <div id="carrousel__item-3" class="carrousel__item">

                        </div>
                    </li>
                </ul>
                <button class="carrousel__arrow" id="slide-arrow-next">&#10095;</button>
            </div>
        </div>
    </footer>
</section>
