<section class="section-own">
    <header class="section-own__header">
        <h1>Nosotros</h1>
        <p>Breve reseña</p>
    </header>

    <div class="own-container">
        <img class="own-container__img1" src="img/logo.png" alt="Juguetyería Cósmica">
        <div>
            <h2>Bootcamp Full Stack Engineer</h2>
            <p>Este trabajo es el <span class="u-italic">Proyecto Integrador</span> del <span class="u-bold">Bootcamp Full Stack Engineer</span> realizado en <a target="_blank" href="https://www.educacionit.com/">Educación IT</a>.</p>
            <p>Dictado desde el 15/03/2022 al 03/11/2022 por el Profesor <span class="u-bold">Juan Domingo Romero</span> en modalidad en vivo online de 2 clases por semana de 3 hs c/u (Total 198 hs).</p> 
            <p>Todos los conocimientos adquiridos a lo largo del <span class="u-italic">bootcamp</span> están orientados al desarrollo de soluciones de Arquitectura WEB tanto de <span class="u-italic">Front End</span> como <span class="u-italic">Back End</span> y se basan en estos tres pilares:</p> 
            <img class="own-container__img2" src="img/n-nosotros.jpg" alt="Juguetyería Cósmica">
            <p><span class="u-bold">HTML</span> (HyperText Markup Language), <span class="u-bold">CSS</span> (Cascading Style Sheets) y 
            <span class="u-bold">JavaScript</span> Vanilla.</p> 
            <p>Para el <span class="u-italic">Front End</span> aprendimos a usar derivados, complementos y herramientas auxiliares tales como <span class="u-bold">SASS</span> (Syntactically Awesome Stylesheets), la especificación 
            <span class="u-bold">ECMA script</span>, el manejo de código asincrónico con <span class="u-bold">AJAX</span> (Asynchronous JavaScript And XML), <span class="u-bold">Handlebars</span> y <span class="u-bold">SPA</span> (Single Page Aplication).</p>
            <p>En el <span class="u-italic">Back End</span> usamos <span class="u-bold">node.js</span> para crear servidores http e implementamos varias librerías como <span class="u-bold">Express</span> y <span class="u-bold">MongoDb</span> entre otras.</p>
        </div>
        <div class="own-container__legal">
            <h2>Legales</h2>
            <div>
                <span class="u-bold">Versión 1.5-Rel241122</span>. Todo el material en esta página está desarrollado por Gabriel Mosci y está protegido por derechos registrados, marcas registradas y otros derechos de propiedad intelectual. Las herramientas utilizadas para su construcción, 
                Visual Studio Code ©, Google Chrome ©, Node.js, Express y MongoDb entre muchas otras, también están protegidas por sus respectivos derechos y registros de marca. © 2022.
            </div>
        </div>
    </div>
</section>
