<div class="carrousel__item-n">
    <a href="">
        <div class="section-cards__footer-container-article-image">
            <img src="img/{{image}}" alt="{{name}}">
        </div>
        <div class="section-cards__footer-container-article-text">
            <p>{{name}}</p>
            <p>${{price}}</p>
        </div>
    </a>
</div>