.own-container {
    background-color: var(--section-bg);
    border-radius: 5px;
    padding: 1em 3em;
    box-shadow: var(--box-shadow);

    &__legal {
        font-size: small;
    }

    img {
        box-shadow: var(--box-shadow);
        border-radius: 5px;
    }

    &__img1 {
        float: left;
        margin: 20px 20px 20px 0px;
    }

    &__img2 {
        float: right;
        width: 400px;
        margin: 10px 0px 10px 10px;

    }
}

